body {
	height: 100vh;
	overflow:  hidden;
}

.video-container {
	max-width: 15vw;
	height: 100vh;
	overflow: hidden;
	top: 0;
	position: relative;
	display: inline-block;
	cursor: pointer;
	margin: 0 0.5vw;
	/*border-left: 1px solid black;
	border-right: 1px solid black;*/
}

.column-highlighted {
	max-width: 32vw !important;
}

.video-title {
	left: 12px;
	width: 150px;
	display: block;
	position: absolute;
	color:  white;
	top: 40px;
	font-weight: bold;
	font-size: 23px;
	line-height: 30px;
}

.column-highlighted .video-title {
	left: 70px;
	width: 230px;
	font-size: 48px;
	line-height: 60px;
}

.logoBlurb {
	display: none;
}