
$color1: #CC4400;
$color2: #70EBCA;
$color3: #B999FF;
$color4: #FF925C;
$color5: #FFE4D6;

body {
	height: 100vh;
	overflow:  hidden;
}

.wordmark {
	max-width: 158px;
	float: left;
	padding-right: 36px;
}

.logoBlurb {
	font-size: 16px;
}

.video-container {
	width: 15vw;
	max-width: 15vw;
	height: 100vh;
	overflow: hidden;
	top: 0;
	position: relative;
	display: inline-block;
	cursor: pointer;
	margin: 0 0.5vw;
	color:  white;
	/*border-left: 1px solid black;
	border-right: 1px solid black;*/
	transition: all .5s;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&:hover::before {
		background: rgba(255,255,255,0.1);
		z-index: 101;
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

.column-highlighted {
	width: 35vw;
	max-width: 35vw !important;
	cursor: auto;
	pointer-events: none;

	&:hover::before {
		display: none;
	}
}

.video-title {
	left: 12px;
	width: 185px;
	display: block;
	position: absolute;
	text-transform: uppercase;
	top: 40px;
	font-weight: bold;
	font-size: 23px;
	line-height: 30px;
	transition: all .4s ease-in-out;
	z-index: 1000;
}

.column-highlighted .video-title {
	left: 70px;
	width: 420px;
	font-size: 48px;
	line-height: 60px;
}

.story-link {
	display: block;
	opacity: 0;
	background: rgba(0,0,0,0);
	text-decoration: none;
	position: absolute;
	top:  0px;
	text-align: right;
	width: 90%;
	height: 160px;
	padding: 60px 5% 0 5%;
	z-index: 100;
	line-height: 120px;
	color: orange;
	font-size: 36pt;
	transition: background 1s, color 1s, opacity .5s 0.2s;
	background: rgba(0,0,0,0);
	pointer-events:  none;

	&:hover {
		opacity: 1;
		
		&::after {
			opacity: 1;
		}
	}

}

.story-link::after {
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	z-index: -1;
	transition:  opacity .5s;
}

#story-link-0::after {
	background: linear-gradient(147.23deg, $color1 10.03%, rgba(255, 105, 31, 0) 35.96%);
}
#story-link-1::after {
	background: linear-gradient(147.23deg, $color2 10.03%, rgba(255, 105, 31, 0) 35.96%);
}
#story-link-2::after {
	background: linear-gradient(147.23deg, $color3 10.03%, rgba(255, 105, 31, 0) 35.96%);
}
#story-link-3::after {
	background: linear-gradient(147.23deg, $color4 10.03%, rgba(255, 105, 31, 0) 35.96%);
}
#story-link-4::after {
	background: linear-gradient(147.23deg, $color5 10.03%, rgba(255, 105, 31, 0) 35.96%);
}

.column-highlighted .story-link {
	opacity: 1;
	pointer-events:  auto;
}

@media only screen and (max-width:  1550px) {
	.column-highlighted .video-title {
		font-size: 36px;
	}
}

@media only screen and (max-width: 850px) {
	.video-container+.tagline {
		font-size: 20px;
		bottom: 12vh;
	}

	.tagline+.logoBlock {
		top: 75vh;
	}

	.video-title {
		font-size: 14px;
		line-height: 1.2;
		width: 90%;
	}

	.column-highlighted .video-title {
		font-size: 24px;
		line-height: 1.2;
		left: 24px;
		width: 90%;
	}

	.story-link {
		line-height: 1;
		font-size: 24px;
	}
}