.link-container {
  position: fixed;
  top: 80vh;
  left: 70vw;
  margin: 70px;
  display: inline-block;
  width: 325px;
}

.wordmark {
  max-width: 158px;
  float: left;
  padding-right: 36px;
}

.logoBlurb {
  padding-top: 16px;
  font-size: 16px;
}

.skipBlock {
  position: relative;
  margin: 12px;
  display: inline-block;
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 24px;
  width: 325px;
  cursor: pointer;
}

.intro-copy {
  position: absolute;
  font-size: 72px;
  line-height: 82px;
  color: white;
  width: 780px;
  top: 30vh;
  left: 15vw;
  text-shadow: 0 4px 6px black;
}
.intro-copy span {
  font-weight: 700;
}

.tagline.tagline-large {
  font-size: 82pt;
  top: 20vh;
  text-shadow: 0 4px 6px black;
}

.tagline {
  padding-left: 40px;
  font-size: 82pt;
  position: fixed;
  font-weight: 400;
  color: white;
  display: block;
  bottom: 16vh;
}

.bg-video-container {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
.bg-video-container video {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  min-height: 50%;
  min-width: 50%;
}

@media only screen and (max-height: 640px) {
  .intro-copy {
    font-size: 48px;
    line-height: 1.2;
    top: 20vh;
  }

  .logoBlock {
    top: 75vh;
  }
  .logoBlock .wordmark {
    max-width: 100px;
    padding-right: 12px;
  }

  .logoBlock .logoBlurb {
    padding-top: 0px;
    font-size: 8pt !important;
  }

  .logoBlock + .link-container {
    top: 60vh;
    left: 70vw;
  }
  .logoBlock + .link-container a div {
    font-size: 16pt;
    margin: 0;
    text-shadow: 0 4px 6px black;
  }
  .logoBlock + .link-container a div .skipText {
    line-height: 32px;
  }
}
@media only screen and (max-width: 850px) {
  .intro-copy {
    font-size: 24px;
    line-height: 1.2;
    top: 20vh;
  }

  .logoBlock {
    top: 70vh;
  }
  .logoBlock .wordmark {
    max-width: 100px;
    padding-right: 12px;
  }

  .logoBlock .logoBlurb {
    padding-top: 0px;
    font-size: 8pt !important;
  }

  .logoBlock + .link-container {
    top: 60vh;
    left: 60vw;
  }
  .logoBlock + .link-container a div {
    font-size: 8pt;
    margin: 0;
    text-shadow: 0 4px 6px black;
  }
  .logoBlock + .link-container a div div {
    border-top: 5px solid transparent !important;
    border-bottom: 5px solid transparent !important;
    border-left: 7px solid #fd7d06 !important;
    line-height: 0;
  }
}