html, body {
  overflow: hidden;
}

.link-container {
  position: fixed;
  top: 80vh;
  left: 65vw;
  margin: 70px;
  display: inline-block;
  width: 325px;
}

.skipBlock {
  position: relative;
  margin: 12px;
  display: inline-block;
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 24px;
  width: 325px;
  cursor: pointer;
}

.tagline.tagline-large {
  font-size: 82pt;
  top: 20vh;
  text-shadow: 0 4px 6px black;
}

.tagline {
  padding-left: 40px;
  font-size: 82pt;
  position: fixed;
  font-weight: 400;
  color: white;
  display: block;
  bottom: 16vh;
}

.bg-video-container {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
.bg-video-container video {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  min-height: 50%;
  min-width: 50%;
}