.link-container {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 70px;
  display: inline-block;
  width: 325px;
}

.skipBlock {
  font-family: "Roboto";
  position: relative;
  margin: 12px;
  display: inline-block;
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 24px;
  width: 325px;
  cursor: pointer;
}