.story-parent-container {
  position: relative;
  display: block;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #272727;
}

.selected-topic-container {
  width: 75vw;
  height: 100%;
  background: linear-gradient(115.66deg, #CC4400 -1.53%, rgba(201, 118, 76, 0.61165) 21.96%, rgba(196, 196, 196, 0) 66.95%);
  color: white;
}

.story-title {
  position: relative;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  top: 52px;
  left: 64px;
  text-transform: uppercase;
  max-width: 270px;
}

.story-content {
  position: absolute;
  top: 270px;
  left: 0px;
  border: 1px solid white;
  width: 75vw;
  height: 485px;
  background: black;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  overflow: hidden;
}

.side-nav-container {
  position: absolute;
  right: 0;
  top: 0;
}

.nav-item {
  margin: 12px 0;
  position: relative;
  color: black;
  display: block;
  width: 22vw;
  background: #E9E9E9;
  min-height: 72px;
  padding-left: 12px;
  line-height: 64px;
  cursor: pointer;
}
.nav-item:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.2);
  z-index: 101;
  position: absolute;
  content: "";
}

.story-video-container {
  height: 100%;
  width: 100%;
}

.story-video {
  height: 100%;
  width: 100%;
}

.back-link {
  display: block;
  position: relative;
  padding-left: 12px;
  width: 22vw;
  height: 64px;
  background: #CC4400;
  color: white;
  line-height: 64px;
  text-decoration: none;
  font-weight: bold;
}
.back-link:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  z-index: 101;
  position: absolute;
  content: "";
}