.story-parent-container {
	position: relative;
	display: block;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background: #272727;
}

.selected-topic-container {
	width: 75vw;
	height: 100%;
	background: linear-gradient(115.66deg, #CC4400 -1.53%, rgba(201, 118, 76, 0.61165) 21.96%, rgba(196, 196, 196, 0) 66.95%);
	color: white;
}

.story-title {
	position: relative;
	font-weight: bold;
	font-size: 48px;
	padding-top: 20px;
	line-height: 60px;
	height: 140px;
	left: 64px;
	text-transform: uppercase;
	max-width: 400px;
}

.tagline-low {
	font-size: 30pt !important;
	padding-left: 40px !important;
	bottom: 8vh !important;
}

.story-copy {
	position: absolute;
	right: 40px;
	top: 40px;
	width: 480px;
	line-height: 50px;
	font-size: 28px;

	.story-source {
		font-size:  18px;
	}

	span {
		display: block;
		font-size: 60px;
		margin-top: 16px;


		&::after {
			content: "\A";
			white-space: pre-wrap;
		}
	}
}

.story-content {
	position: relative;
	left: 0px;
	width: 75vw;
	height: 560px;
	background: black;
	background-repeat: no-repeat;
	background-size: 1050px;
	background-position: bottom left;
	overflow: hidden;
}

.side-nav-container {
	position: absolute;
	right: 0;
	top: 0;
	width: 24vw;
	padding-left: 1vw;
	background: white;
	height: 100vh;
}

.nav-item {
	margin: 12px 0;
	position: relative;
	color: black;
	display: block;
	width: 24vw;
	text-transform: uppercase;
	background: #E9E9E9;
	min-height: 72px;
	padding-left: 12px;
	line-height: 70px;
	cursor: pointer;
	color:  #440649;

	&:hover::before {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(255,255,255,.2);
		z-index: 101;
		position: absolute;
		content: "";
	}

	span {
		color:  #CC4400;
		font-size: 16pt;
	}
}

.link-nav {
	text-decoration: none;
	z-index: 1000;
}

.image-nav, .video-nav {
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	min-height: 200px;
}

.video-nav::before {
	content: "PLAY";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	line-height: 200px;
	text-align: center;
	font-size: 72px;
	font-weight: 900;
}

.story-video-container {
	height: 100%;
	width: 100%;
}

.story-video {
	height: 100%;
	width: 100%;
}

.back-link {
	display: block;
	position: relative;
	padding-left: 12px;
	width: 24vw;
	height: 64px;
	background: #CC4400;
	color:  white;
	line-height: 64px;
	text-decoration: none;
	font-weight: bold;

	&:hover::before {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(255,255,255,.5);
		z-index: 101;
		position: absolute;
		content: "";
	}
}

.actions-container {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 1000;
	width: 100%;
	margin-bottom: 20px;

}
.donate-container {
	display: block;
	padding: 12px 0 12px 1vw;
}

.social-container {
	display: block;
	padding: 12px 0 12px 1vw;
}

.nav-item-container.selected .nav-item {
	background-color: white;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(255,255,255,.5);
		line-height: 200px;
		font-size: 72px;
		margin-left: -.8vw;
		color:  #CC4400;
		text-align: left;
		font-weight: 900;
		width: 100%;
	}
}

.contentBlurb {
	width: 300px;
	height: 400px;
	color: white;
	z-index: 1000;
	position: relative;
	display: block;
	float: right;
	padding: 32px 400px 0 0;
	font-size: 28px;
	font-weight: 400;
	line-height: 40px;
}