.video-overlay-copy {
	font-size: 72pt;
	font-weight: 400;
	color: white;
	display: block;
	line-height: 1;
	opacity: 1;
}

.overlay-background {
	width: 100vw;
	height: 100vh;
	background-color: #cc4400;
	transition: all 1s;
	display: block;
	top: 0px;
	position: fixed;
	transition: all 1s;
	opacity: 1;
}

.overlay-content-container {
	margin: 0 auto;
	width: 60%;
	position: relative;
	top: 20vh;
	transition: all 1s;
	opacity: 1;
}

.overlay-buttons-container {
	div {
		width: 142px;
	    height: 64px;
	    background-color: #ff925c;
	    color: white;
	    display: inline-block;
	    font-family: 'Roboto';
	    font-size: 18pt;
	    line-height: 64px;
	    text-align: center;
	    text-transform: uppercase;
	    margin: 10px;
	    font-weight: bold;
	    cursor: pointer;
	}
	opacity: 1;
}

#landing-clip {
	transition: opacity .5s;
	opacity: 1;
}

.hidden {
	opacity: 0 !important;
}

.bg-video {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100vw;
	min-height: 100vh;
	z-index: -1;
}