.video-overlay-copy {
  font-size: 72pt;
  font-weight: 400;
  color: white;
  display: block;
  line-height: 1;
  opacity: 1;
}

.small-font {
  font-size: 60pt !important;
}

.overlay-background {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(115.66deg, #CC4400 -1.53%, rgba(201, 118, 76, 0.61165) 21.96%, #272727 66.95%);
  -webkit-transition: all 1s;
  transition: all 1s;
  display: block;
  top: 0px;
  position: fixed;
  transition: all 1s;
  opacity: 1;
}

.overlay-content-container {
  margin: 0 auto;
  width: 60%;
  position: relative;
  top: 20vh;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 1;
}

.overlay-buttons-container {
  opacity: 1;
}
.overlay-buttons-container div {
  width: 142px;
  height: 64px;
  background-color: #ff925c;
  color: white;
  display: inline-block;
  font-size: 18pt;
  line-height: 64px;
  text-align: center;
  text-transform: uppercase;
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}

#landing-clip {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 1;
}

.hidden {
  opacity: 0 !important;
}

.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -1;
}